@import "./sass-variables";
@import "./mixins";

.about__img {
    width: 100%;

    @include mq($bp-medium) {
        width: 50%;
    }

    @include mq($bp-lowerlarge) {
        width: 100%;

    }
}
