// Colors
$color-white: hsl(0, 0%, 100%); // #FFFFFF
$color-black: hsl(0, 0%, 10%); // #1A1A1A

// Bg implementation
$color-bg-white: $color-white;
$color-bg-black: $color-black;


// Font family
$font-primary: "Archivo Narrow", sans-serif;
$font-secondary: "Tiny5x3-160";
//$font-secondary: 'Martian Mono', monospace;


// Font weights
$font-weight-xlight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;


// Font size implementations

//Product page
$fs-product-page-title: clamp(1.6rem, 0.19vw + 1.53rem, 1.8rem);
$fs-product-page-text: clamp(1.6rem, 0.76vw + 1.3rem, 2.4rem);
$fs-product-page-text--variation: clamp(9.4rem, 9.62vw + 5.65rem, 19.5rem);
$fs-product-page-fig-text: clamp(1.6rem, 0.19vw + 1.53rem, 1.8rem);



// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-lowerlarge: 75rem; // 1216px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px


// Padding implementations

// Vertical main padding
$vertical-padding: clamp(0.4rem, 0.38vw + 0.25rem, 0.8rem);
$vertical-padding--small: .2rem;


// Variables for @each / @for / etc

// Maps
$map-colors: (
    "white": $color-white,
    "black": $color-black
);