// Colors
$color-white: hsl(0, 0%, 100%); // #FFFFFF
$color-black: hsl(0, 0%, 10%); // #1A1A1A

// Bg implementation
$color-bg-white: $color-white;
$color-bg-black: $color-black;


// Font family
$font-primary: "Archivo Narrow", sans-serif;
$font-secondary: "Tiny5x3-160";
//$font-secondary: 'Martian Mono', monospace;


// Font weights
$font-weight-xlight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;


// Font implementation



// Font size implementations





// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-lowerlarge: 75rem; // 1216px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px


// Padding implementations

// Vertical main padding
$vertical-padding: clamp(1.6rem, 2.88vw + 0.48rem, 6rem);



// Variables for @each / @for / etc

// Maps
$map-colors: (
    "white": $color-white,
    "black": $color-black
);