@import "./sass-variables";
@import "./mixins";

.product {
    margin-top: 8rem;

    @include mq($bp-medium) {
        margin-top: 0;
    }

    &__top {
        position: fixed;
        width: 100%;
        z-index: -1;
    }

    &__bottom {
        position: absolute;
        background-color: $color-bg-white;
        margin-top: clamp(24rem, 66.66vw + 0rem, 77.66rem);

        @include mq($bp-uppermedium) {
            margin-top: 74vh;
        }

        @include mq($bp-lowerlarge) {
            margin-top: 86vh;
        }

    }
}


.about {
    padding-top: clamp(10rem, 7.41vw + 7.33rem, 18rem);

    @include mq($bp-lowerlarge) {
        display: grid;
        grid-template-columns: 3.5fr 2fr;
        gap: 10rem;
        min-height: 95vh;
    }

    &__sect {
        padding: 0 $vertical-padding;

        &__flex {

            @include mq($bp-medium) {
                display: flex;
                gap: 10rem;
            }
        }
    }
}

.language-selector {
    position: fixed;
    right: $vertical-padding;
    top: .4rem;

    font-size: 1.2rem;
    color: white;
    background-color: black;
    padding: .2rem;
}