
.text-dec--underline {
    text-decoration: underline;
}

.text-trans--uppercase {
    text-transform: uppercase;
}

.preloader {
    fill: black;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;

    & > svg {
        padding-bottom: 1.2rem;
    }
}
