
.text-dec--underline {
    text-decoration: underline;
}

.text-trans--uppercase {
    text-transform: uppercase;
}

.preloader {
    min-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


