@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-gallery {

    &__item {

        &__title {
            font-size: $fs-product-page-fig-text;
            display: flex;
            gap: .6rem;
            padding-left: .2rem;
        }

        &__img {
            width: 100%;
        }
    }
}