@import "../../../scss/sass-variables";
@import "../../../scss/mixins";


.products {
    color: $color-black;
    background-color: $color-bg-white;
    padding-top: clamp(4rem, 13.07vw + -1.1rem, 24rem);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;


    @include mq($bp-lowermedium) {
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
    }

    @include mq($bp-medium) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.4rem;
        row-gap: 8rem;
    }

    @include mq($bp-lowerlarge) {
        grid-template-columns: repeat(4, 1fr);
    }
}