@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    padding-top: 4rem;

    @include mq($bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .4rem;
        align-items: end;
    }

    @include mq($bp-lowerlarge) {
        grid-template-columns: repeat(3, 1fr);
    }
}