@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-gallery {
    background-color: $color-bg-white;
    display: flex;
    flex-direction: column;
    padding-top: clamp(4rem, 3.92vw + 2.47rem, 10rem);

    @include mq($bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: $row-gap--base;
        column-gap: $column-gap--base;
        align-items: end;
    }

    @include mq($bp-lowerlarge) {
        grid-template-columns: repeat(3, 1fr);
    }
}
