@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-hero {

    &__img {
        width: 100%;
        z-index: -1;

        @include mq($bp-lowerlarge) {
            height: 86vh;
            object-fit: cover;
        }
    }
}