@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-hero {

    &__img {
        width: 100%;
        padding: 0 $vertical-padding--small;

        @include mq($bp-lowerlarge) {
            height: 90vh;
            object-fit: cover;
        }
    }
}