@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-intro {
    display: grid;
    grid-template-columns: 2.5fr 2fr 1fr;
    //revisar medidas
    row-gap: 2.4rem;
    padding: clamp(0.4rem, 0.76vw + 0.1rem, 1.2rem) $vertical-padding 0;


    @include mq($bp-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include mq($bp-lowerlarge) {
        grid-template-columns: .35fr .35fr .35fr .35fr 1.5fr;
    }

    &__title {
        font-size: $fs-product-page-title;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    &__text {
        font-size: $fs-product-page-text;
        white-space: nowrap;
        font-size: 2rem;
        line-height: 100%;

        &--variation {
            font-family: $font-secondary;
            font-size: $fs-product-page-text--variation;
            text-transform: uppercase;

            @include mq($bp-lowerlarge) {
                justify-self: end;
            }
        }
    }

    &__mat-dim {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

}



