@import "../../../scss/sass-variables";
@import "../../../scss/mixins";



.home-hero {
    z-index: -2;
    min-height: 94vh;

    position: relative;

    @include mq($bp-lowermedium) {
        min-height: 100vh;
    }
}