@import "../../scss/sass-variables";
@import "../../scss/mixins";


.topbar {
    color: $color-white;
    mix-blend-mode: difference;
    padding: $vertical-padding;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    &.is-home {
        &__inner__item.no-underline > a {
            text-decoration: none;
        }
    }

    &__title {
        font-size: $fs-topbar;

        & > a {
            text-decoration: none;
        }
    }


    &__inner__item {
        font-size:  $fs-topbar;

        &:not(:last-child)::after {
            content: ",";
        }

        &:hover {
            font-style: italic;
        }
    }
    

    &__inner {
        display: flex;
    }


    // Topbar home
    &--home {
        color: $color-white;
        mix-blend-mode: difference;
        //background-color: $color-bg-white;
        padding: $vertical-padding;
        // position: absolute;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &--fixed {
        // background-color: transparent;
        // position: fixed;
        // top: 1.9rem;
        // left: 0;
        // width: 100%;
        // z-index: 3;
    }
}