@import "../../scss/sass-variables";
@import "../../scss/mixins";

.info {

    padding-top: 28rem;
    padding-bottom: clamp(4rem, 13.07vw + -1.1rem, 24rem);

    &__title,
    &__inner__title,
    &__inner__text {
        font-size: 2rem;
    }
    
    &__title {
        text-transform: uppercase;
    }

    &__inner__title,
    &__inner__text {
        display: inline;
    }
}
