@import "../../../scss/sass-variables";
@import "../../../scss/mixins";

.product-desc {
    //background-color: blue;

    font-size: $fs-product-page-text;
    display: grid;
    grid-template-columns: 2fr .5fr;
    gap: clamp(2.8rem, 3.17vw + 1.56rem, 4rem);
    padding: 0 $vertical-padding;

    @include mq($bp-medium) {
        grid-template-columns: 3fr 1fr;
    }

    &__title {
        font-size: $fs-product-page-title;
        text-transform: uppercase;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 5.2rem;
    }

    &__cta {
        text-transform: uppercase;

        & > a {
            text-decoration: none;
        }
    }
}
