@import "../../scss/sass-variables";
@import "../../scss/mixins";

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &--mob {
        width: 100%;
        object-fit: cover;
    }
    &--des {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}
