@import "../../scss/sass-variables";
@import "../../scss/mixins";

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &--mob {
        height: 120vh;
    }
    &--des {
        width: 100%;
    }
}
