@import "../../../scss/sass-variables";
@import "../../../scss/mixins";
@import "../../../scss/utilities";


.one-product {
    color: $color-black;
    font-size: 1.8rem;
    z-index: 2;

    position: relative;
    padding-bottom: 4rem;


    @include mq($bp-lowermedium) {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__back {
        z-index: -1;

        @include mq($bp-medium) {
            position: absolute;
            padding-bottom: .8rem;
        }

    }

    &__front {
        transition: transform .2s ease-in-out;
    }

    &__front:hover {

        @include mq($bp-medium) {
            transform: translate(0, -10rem);
        }
    }




    &__img {
        width: 100%;
    }
}